.container{

max-width:1300px;

margin:auto;

padding:30px;

}

.grid-2{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.grid-4{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}