/* HEADINGS */

h1{

font-size:34px;

font-weight:700;

color:var(--primary);

}

h2{

font-size:26px;

font-weight:700;

color:var(--primary);

margin-bottom:20px;

}

h3{

font-size:18px;

font-weight:600;

}

p{

color:var(--text-light);

line-height:1.6;

}

/* Cards */

.card{

background:white;

border-radius:var(--radius-lg);

padding:25px;

box-shadow:var(--shadow);

}

/* Buttons */

.btn{

background:var(--primary);

color:white;

border:none;

padding:14px 24px;

border-radius:14px;

transition:var(--transition);

font-weight:600;

}

.btn:hover{

transform:translateY(-2px);

background:var(--primary-dark);

}